/*!
Theme Name: Greenpeace Planet4 Child Theme Nordic
Theme URI: https://github.com/greenpeace/planet4-child-theme-nordic
Description: Child theme for the Planet4 Nordic Wordpress project
Author: Greenpeace Nordic, Svilena Koleva
Author URI: https://github.com/greenpeace
License: MIT
License URI: https://opensource.org/licenses/MIT
Tags: light, accessibility-ready
Template: planet4-master-theme
Text Domain: planet4-child-theme-nordic
*/

@charset 'utf-8';

// Base
@import "base/_colors";
@import "base/_mixins";
@import "base/_fonts";
@import "base/_typography";
@import "base/_variables";


// Components
@import "components/_accordion";
@import "components/_articles";
@import "components/_body";
@import "components/_breadcrumbs";
@import "components/_buttons";
@import "components/_carousel";
@import "components/_columns";
@import "components/_comments";
@import "components/_footer";
@import "components/_gallery";
@import "components/_gfquiz";
@import "components/_header";
@import "components/_iraiser";
@import "components/_leadsPlugin";
@import "components/_navbar";
@import "components/_blockquote";
@import "components/_taCoverCard"
