@import '../base/colors';
@import '../base/fonts';
@import '../base/mixins';
@import '../base/typography';
@import '../base/variables';

p, ul, li, a, .edit-post-visual-editor, .edit-post-visual-editor .editor-block-list__block-edit, .editor-styles-wrapper  {
  color: var(--body-text--color);
  font-family: var(--font-family-body);
  font-optical-sizing: auto;
  font-weight: inherit;
}

// Headings
h1,
.h1,
h1 a,
h2,
.h2,
h2 a,
h3,
.h3,
h3 a,
h4,
.h4,
h4 a,
h5,
.h5,
h5 a,
h6,
.h6,
h6 a,
article h1.page-header-title,
.page-header h1.page-header-title,
.cover-card-heading,
.cover-card-excerpt,
.articles-block h2,
.article-list-item-headline a,
.query-list-item-headline.wp-block-post-title a,
a.search-result-item-headline,
.page-section-header,
.wp-block-heading, .can-do-steps h5,
.wp-block-post-title {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-extra-bold);
  margin-top: 0;
  margin-bottom: .5rem;
  line-height: 1.25;
}

.wp-block-quote > p.block-editor-rich-text__editable::before, .wp-block-quote > p::before {
  margin-bottom: 0;
}

.editor-visual-editor__post-title-wrapper>h1>span {
  font-size: 3rem;
}