// Colors
//
// Styleguide Style.colors

// Primary
//
// $black - #000;
// $white - #fff;
//
// Styleguide Style.colors.primary
$black: #000;
$white: #fff;

//overrides
$dark-blue: #005c42; //overrides the default blue color
$link-color: #448107 !important;

//child theme specific
$dark-white: #f9f9f9;
$dark-green: #448107;

$gp-green: #66cc00; //old primary color
$gp-primary: #73BE1E;
$gp-nor-green: #005c42; //Secondary color
$banner-yellow: #FFD200;
