//import font roboto from google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "Greenpeace Sans";
  src: local("Greenpeace Sans"), local("Greenpeace Sans"),
    url("../../assets/src/fonts/GreenpeaceSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Helvetica Now Display Regular";
  src: local("Helvetica Now Display Regular"), local("Helvetica-Now-Display-Regular"),
    url("../../assets/src/fonts/HelveticaNowDisplay-Regular.woff2") format("woff2"),
    url("../../assets/src/fonts/HelveticaNowDisplay-Regular.woff") format("woff"),
    url("../../assets/src/fonts/HelveticaNowDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display Bold";
  src: local("Helvetica Now Display Bold"), local("Helvetica-Now-Display-Bold"),
    url("../../assets/src/fonts/HelveticaNowDisplay-ExtraBold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}