@import "../base/colors";
@import "../base/variables";
@import "../base/fonts";

// Typography
// Headings
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.cover-card-heading,
.cover-card-excerpt,
.articles-block h2,
.article-list-item-headline a,
.query-list-item-headline.wp-block-post-title a,
a.search-result-item-headline,
.page-section-header {
  font-family: $roboto;
  font-weight: var(--headings-font-wight);
  margin-top: 0;
  margin-bottom: .5rem;
  line-height: 1.25;
  color: inherit;
}

h1,
.h1 {
  font-size: calc(1.475rem + 1.5vw);
  margin-bottom: .7rem;

  @include large-and-up {
    font-size: $font-size-xxl;
  }

  @include xx-large-and-up {
    font-size: $font-size-xxxl;
  }
}

.h2,
h2 {
  font-size: calc(1.35rem + .9vw);

  @include large-and-up {
    font-size: $font-size-xl;
  }

  @include xx-large-and-up {
    font-size: $font-size-xxl;
  }
}

h3,
.h3 {
  font-size: calc(1.3rem + .6vw);

  @include large-and-up {
    font-size: $font-size-lg;
  }

  @include xx-large-and-up {
    font-size: $font-size-xl;
  }
}

h4,
.h4 {
  font-size: calc(1.25rem + .3vw);

  @include large-and-up {
    font-size: $font-size-md;
  }

  @include xx-large-and-up {
    font-size: $font-size-lg;
  }
}

h5,
.h5 {
  font-size: 1.2rem;
}

h6,
.h6 {
  font-size: $font-size-sm;
}

div.cookies-intro>div.cookies-text {
  font-weight: 500 !important;
}

p,
a,
ul,
li,
span,
strong {
  font-family: $roboto;
}

//Text
div.carousel-captions-wrapper h2 {
  font-family: $helvetica-bold !important;
  font-size: $font-size-xl;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

p,
ul,
li,
.page-section-description,
.columns-block .column-wrap p,
span.author-info,
.article-list-item-content,
.accordion-block .accordion-content p.accordion-text,
.wp-block-file .wp-block-file__button::before,
div.block-editor-block-list__layout.is-root-container,
p.search-result-item-content,
#gdpr-comments-compliance,
.error404 .speech-bubble,
.error404 .page-header .container .row {
  font-family: $roboto;
  font-weight: 400;
  font-size: 1.06rem;
  line-height: inherit;

  @include mobile-only {
    font-size: 1.1rem;
  }
}

.nav-links {
  font-family: $helvetica !important;
}

.columns-block p,
// li:not(.footer-menu ul.list-unstyled li), li:not(.footer-social-media ul.list-unstyled li),
p.article-list-item-content,
article.post-details p,
p.accordion-text,
p.search-result-item-content {
  color: $grey-70;
  font-weight: 400;
}

.page-header-content p {
  padding-left: 0;
  font-weight: 400;
}

.wp-block-file a::before {
  background-color: $dark-green;
}

//Links
a {
  box-shadow: none !important;
}

.page-content li>a:not(.button--ghost, .submenu-link),
.page-content p>a:not(.secondary-menu > .nav-link >a, .secondary-menu > .nav-link >a >strong, .acf-label > p > a, small > p > a,
  .is-pattern-p4-quick-links>a, .is-pattern-p4-quick-links strong a),
.post-content li>a,
.post-content p>a,
.page-content li>strong>a,
.page-content p>strong>a,
.post-content li>strong>a,
.post-content p>strong>a,
.covers-block>.page-section-description>a,
strong>a {
  text-decoration: none;
  border-bottom: 1.5px solid $gp-green-50;
  font-weight: inherit;
  color: inherit;

  &:hover,
  &:visited {
    -webkit-transition: height 0.2s cubic-bezier(.5, 0, 0, 1);
    -o-transition: height 0.2s cubic-bezier(.5, 0, 0, 1);
    -moz-transition: height 0.2s cubic-bezier(.5, 0, 0, 1);
    transition: height 0.2s cubic-bezier(.5, 0, 0, 1);
    border-bottom: 3px solid $gp-green-50;
    text-decoration: none;
    box-shadow: none;
    background-image: none;
  }
}

//secondary nav fix
.bbn a,
.secondary-menu .nav-link a {
  border-bottom: none !important;

  &:hover {
    border-bottom: none !important;
  }
}

.tdn {
  text-decoration: none !important;
}

a.external-link {
  &:after {
    display: none;
  }
}

.submenu-block .submenu-menu a {
  border-bottom: none;
  text-decoration: none;

  &:hover {
    -webkit-transition: height 0.2s cubic-bezier(.5, 0, 0, 1);
    -o-transition: height 0.2s cubic-bezier(.5, 0, 0, 1);
    -moz-transition: height 0.2s cubic-bezier(.5, 0, 0, 1);
    transition: height 0.2s cubic-bezier(.5, 0, 0, 1);
    border-bottom: 3px solid $gp-green-50;
    text-decoration: none;
    box-shadow: none;
  }
}

.top-page-tags .tag-item {
  margin-right: 0.3rem;
}

.wp-block-heading > a, 
.secondary-menu > a,
.wp-block-heading.is-style-chevron > a,
.group-stretched-link > .wp-block-heading > a {
  color: inherit;
  background-image: none;
  background-repeat: no-repeat;
  border-bottom: none;
  &:hover {
    // border-bottom: 1.5px solid $gp-green-50;
    color: $gp-green-60!important;
  }
}

//deep-dive, issues pattern
// .is-pattern-p4-issues .wp-block-heading a:hover,
// .is-pattern-p4-deep-dive .wp-block-heading a:hover,
// .group-stretched-link>.wp-block-heading>a:hover,
// .group-stretched-link>.wp-block-heading>strong>a:hover
//  {
//   text-decoration: underline;
//   box-shadow: none;
//   color: $gp-green-80;
// }

//headings on dynamic blocks
h2.page-section-header {
  color: $black;
}

//reality check block
.is-pattern-p4-reality-check {
  figure.wp-block-image+h2 {
    font-family: $gp-sans;
  }

  figure.wp-block-image~h2:nth-of-type(2) {
    font-family: $roboto;
    font-weight: 500;
    font-size: medium;
  }
}