@import "../base/colors";
@import "../base/variables";

// Typography
//import font roboto from google fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

@font-face {
  font-family: "Helvetica Now Display";
  src: local("Helvetica Now Display Regular"), local("Helvetica-Now-Display-Regular"),
    url("../../assets/src/fonts/HelveticaNowDisplay-Regular.woff2") format("woff2"),
    url("../../assets/src/fonts/HelveticaNowDisplay-Regular.woff") format("woff"),
    url("../../assets/src/fonts/HelveticaNowDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: local("Helvetica Now Display Bold"), local("Helvetica-Now-Display-Bold"),
    url("../../assets/src/fonts/HelveticaNowDisplay-Bold.woff2") format("woff2"),
    url("../../assets/src/fonts/HelveticaNowDisplay-Bold.woff") format("woff"),
    url("../../assets/src/fonts/HelveticaNowDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Headings
h1,
h2,
h3,
.cover-card-heading, :not(.is-pattern-p4-page-header .wp-block-media-text__content h1), :not(div.cookies-intro div.cookies-text), :not(.article-list-item-headline a) {
  font-family: $helvetica;
}

h4,
h5,
h6,
.cover-card-excerpt, .article-list-item-headline a {
  font-family: $roboto!important;
  font-weight: 700;
}

h1 {
  //overide the default font-size for h1 on mobile
  @include mobile-and-tablet-only {
    font-size: $font-size-xxl;
  }

  @include large-and-up {
    font-size: $font-size-xxxl;
    margin-bottom: 48px;
  }
  @include x-large-and-up {
    font-size: $font-size-xxxxl;
  }
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

// Links
//
// Link elements `<a>`.
//
// Markup:
// <a href="#">The quick brown fox jumps over the lazy dog</a>
//
// :hover     - hovered state
//
// Styleguide Style.typography.links
// a:not(.nav-link, .split-two-column-item-link){
//   color: var(--link--color, #{$dark-green});
//   text-decoration: none;
//   transition: all .3s ease;
//   &:hover {
//     text-decoration: var(--nav-link--hover--text-decoration, underline)!important;
//     text-underline-position: var(--nav-link--hover--text-underline-position, auto)!important;
//     color: $grey-70;

//   }
// }

//select only the a tags that don't have any class names
a:not([class]):not(.article-list-item-author>a, a[data-ga-action="Title"], a[data-ga-action="Category Title"], a[data-ga-category="Footer Navigation"], .copyright>.container>span[role="text"]>a),
.author-block-info-name a[itemprop="name"],
a.comment-reply-link,
a.standalone-link, a.standalone-link:after,
a.standalone-link.external-link,
a.external-link:not(.split-two-column-item-link)
// .post-content .page-links a *,
// .post-content .more-link *, .post-content .more-link::after,
// .post-content .more-link::before,
// .post-content .page-links a::after,
// .post-content .page-links a::before,
// .wp-block-file a,
// .wp-block-button a *:not(strong), .wp-block-button a::after,
// h5.author-block-info-name a
{
  color: $dark-green;
  // text-decoration: none;
  font-weight: 700;
  font-family: $roboto;
  font-size: inherit;
  @include mobile-only {
    font-size: 1.1rem;
  }

  &:hover {
    // text-decoration: var(--nav-link--hover--text-decoration, underline)!important;
    // text-underline-position: var(--nav-link--hover--text-underline-position, auto)!important;
    color: $grey-70;
    text-decoration: underline solid $gp-green 3px;
  }

}


// .page-section-description, div.edit-post-visual-editor.editor-styles-wrapper div.block-editor__typewriter div div.block-editor-writing-flow {
//   font-family: $roboto !important;
//   font-weight: 300;
//   font-size: 1.2rem;
// }
p, ul, li, .page-section-description,
.columns-block .column-wrap p,
span.author-info,
.article-list-item-content,
.accordion-block .accordion-content p.accordion-text,
.wp-block-file .wp-block-file__button::before,
div.block-editor-block-list__layout.is-root-container,
p.search-result-item-content, #gdpr-comments-compliance,
.error404 .speech-bubble, .error404 .page-header .container .row  {
  font-family: $roboto!important;
  font-weight: 400!important;
  font-size: 1.06rem;
  line-height: inherit;

  @include mobile-only {
    font-size: 1.1rem;
  }
}

.is-pattern-p4-page-header .wp-block-media-text__content h1 {
  font-family: $roboto!important;
  font-weight: 900!important;
  font-size: inherit;
  line-height: inherit!important;

}

.nav-links {
  font-family: $helvetica!important;
}

.columns-block p,
// li:not(.footer-menu ul.list-unstyled li), li:not(.footer-social-media ul.list-unstyled li),
p.article-list-item-content, article.post-details p, p.accordion-text, p.search-result-item-content {
  color: $grey-70;
  font-weight: 400;
}

.page-header-content p {
  padding-left: 0;
  font-weight: 400;
}

.wp-block-file a::before {
  background-color: $dark-green;
}

p.logged-in-as a,
div.top-page-tags div.tag-wrap.issues a.tag-item.tag {
  color: $dark-green;

  &:hover {
    text-decoration: underline;
  }
}

.split-two-column-item-title a:hover {
  color: $yellow;
}

.split-two-column-item-tag, .split-two-column-item-link {
  color: $yellow !important;
}

.content-covers-block .content-covers-block-wrap .content-covers-block-info h5>a {
  color: $dark-green !important;
  font-family: $helvetica;
}

//on listing pages
div.query-list-item-post-terms div.taxonomy-p4-page-type a[rel="tag"],
div.wrapper-post-tag div.taxonomy-post_tag.wp-block-post-terms  a[rel="tag"],
div.query-list-item-body div.query-list-item-post-terms div.wrapper-post-term div.taxonomy-p4-page-type.wp-block-post-terms a
{
  font-weight: 400;
}

h4.query-list-item-headline.wp-block-post-title a {
  color: $black!important;
}

div.wrapper-post-tag ::before,
.query-list-item-body:has(.taxonomy-p4-page-type):has(.taxonomy-post_tag) .wrapper-post-tag:before {
  color: $dark-green;
}
