// Typography

// @font-face {
//   font-family: "Helvetica Neue Roman";
//   src: url("../scss/fonts/HelveticaNeueLTPro-Roman.otf") format("opentype");
// }

// @font-face {
//   font-family: "Helvetica Neue";
//   src: url("../scss/fonts/HelveticaNeueLTPro-Hv.otf") format("opentype");
// }

@font-face {
  font-family: "Helvetica Neue Medium";
  src: url("https://storage.googleapis.com/lib.greenpeace.se/apps/HelveticaNeueLTPro-Md.otf") format("opentype");
}

// Styleguide Style.typography
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Paragraphs
//
// All plain text elements use Lora font.
//
// Markup:
// <p>The quick brown fox jumps over the lazy dog</p>
//
// Styleguide Style.typography.paragraphs
p {
  hyphens: none;
}

// Headings
//
// Heading elements `<h1> <h6>`. All headings use Roboto font.
//
// Markup:
// <h1>The quick brown fox jumps over the lazy dog</h1>
// <h2>The quick brown fox jumps over the lazy dog</h2>
// <h3>The quick brown fox jumps over the lazy dog</h3>
// <h4>The quick brown fox jumps over the lazy dog</h4>
// <h5>The quick brown fox jumps over the lazy dog</h5>
// <h6>The quick brown fox jumps over the lazy dog</h6>
//
// Styleguide Style.typography.headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $lora;
  letter-spacing: 1px;
}

h1,
h2 {
  font-weight: bold;
}

h1 {
  font-size: $font-size-xxl;
  line-height: 1.225;
  margin-bottom: 30px;

  @include large-and-up {
    font-size: $font-size-xxxl;
    margin-bottom: 48px;
  }
  @include x-large-and-up {
    font-size: $font-size-xxxxl;
  }
}

h2 {
  font-size: $font-size-xl;
  line-height: 1.38;
  margin-bottom: 5px;

  @include medium-and-up {
    font-size: $font-size-xxl;
  }

  @include x-large-and-up {
    margin-bottom: 24px;
  }
}

.white-text {
  color: $white;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

// Links
//
// Link elements `<a>`.
//
// Markup:
// <a href="#">The quick brown fox jumps over the lazy dog</a>
//
// :hover     - hovered state
//
// Styleguide Style.typography.links
a {
  color: $dark-green;
  text-decoration: none;
  font-weight: 500;

  &:hover {
    color: $dark-green;
    text-decoration: underline;
  }
}

p,ul,li, .page-section-description, .block-editor-writing-flow p, .edit-post-visual-editor.editor-styles-wrapper p,
.block-editor-rich-text__editable.block-editor-block-list__block.wp-block.rich-text p, .columns-block .column-wrap p, .article-list-item-content p {
  font-family: $roboto;
  font-weight: 300;
  font-size: 1.25rem;
  letter-spacing: 0.3px;

  @include mobile-only {
    font-size: 1.1rem;
  }
}

.page-header-content p {
  padding-left: 0;
}
