@import "../base/colors";
@import "../base/fonts";
// Fonts
$roboto: "Roboto", "Helvetica", "Arial", sans-serif !important;
// changed the font from here to make sure it will assigned where it need to
// $lora:     "Open Sans", sans-serif;
$gp-sans: "Greenpeace Sans", "Helvetica", "Arial", sans-serif !important;
$helvetica: "Helvetica Display Regular", "Helvetica", "Arial", sans-serif !important;
$helvetica-bold: "Helvetica Now Display Bold", "Helvetica", "Arial", sans-serif !important;
$lora: "Roboto", "Arial", sans-serif !important;


// Media queries
$extra-small-width: 375px;
$small-width: 576px;
$medium-width: 768px;
$large-width: 992px;
$extra-large-width: 1200px;
$extra-extra-large-width: 1600px;

//font-sizes
$font-base-size: 16px;

$font-size-xxxs: 0.75rem;
$font-size-xxs: 0.875rem;
$font-size-xs: 0.9375rem;
$font-size-sm: 1rem;
$font-size-md: 1.25rem;
$font-size-lg: 1.375rem;
$font-size-xl: 1.75rem;
$font-size-xxl: 2.5rem;
$font-size-xxxl: 3rem;
$font-size-xxxxl: 4rem;

//NVI tockens
:root {
  --top-navigation--background: #{$white};
  --top-navigation--box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  --top-navigation--color: #{$black};
  --top-navigation--separation: 1px solid #d8d8d8;
  --top-navigation--search-toggle--background: #{$grey-10};
  --top-navigation--input--placeholder--color: #{$grey-40};
  --link--color: #{$gp-green-80};
  --nav-link--hover--color: #{$black};
  --nav-link--hover--text-decoration: underline 3px #{$gp-green};
  --nav-link--hover--text-underline-position: under;
  --accordion-block-light-style--background: #{$gp-green-5};
  --accordion-block-light-style--border-color: transparent;
  --accordion-block-light-style--hover--background: #{$gp-green-10};
  --accordion-block-dark-style--background: #{$gp-nor-green-3};
  --accordion-block-dark-style--hover--background: #{$gp-nor-green};
  --blockquote-border-color: #{$gp-green-50};
  --cover-card-btn--font-size: $font-size-sm;
  --cover-card-heading--font-weight: 700;
  --page-header-title--font-weight: var(--font-weight-bold);
  --headings-font-wight: 700;
  --headings--font-family: $roboto;
  --btn-body-font-weight: 600;
}

// Units:
// $au: auto;
// $n5: 5px;
// $n10: 10px;
// $n15: 15px;
// $n20: 20px;
// $n25: 25px;
// $n30: 30px;
// $n35: 35px;
// $n40: 40px;
// $n50: 50px;
// $n60: 60px;
// $n70: 70px;
// $n80: 80px;
// $n90: 90px;
// $n100: 100px;