@import "../base/mixins";
@import "../base/variables";
@import "../base/colors";
@import "../base/fonts";

.accordion-content.accordion-headline {
    line-height: initial;
    margin-bottom: 0.5rem;
    font-family: $gp-sans;
}

.block.accordion-block.wp-block-planet4-blocks-accordion.is-style-dark {
    .accordion-headline {
        background: var(--accordion-block-dark-style--background);
        &:hover {
            background: var(--accordion-block-dark-style--hover--background);
        }
    }
}

.block.accordion-block.wp-block-planet4-blocks-accordion.is-style-light {
    .accordion-headline {
        background: var(--accordion-block-light-style--background);
        border-color: var(--accordion-block-light-style--border-color);
        &:hover {
            background: var(--accordion-block-light-style--hover--background);
        }
    }
}