@import "../base/mixins";
@import "../base/variables";
@import "../base/colors";
@import "../base/fonts";

.accordion-block {

    .page-section-header {
        font-family: var(--font-family-heading);
        font-weight: var(--font-weight-bold);
    }

    .page-section-description {
        font-family: var(--font-family-body);
    }

    .accordion-content {
        margin-bottom: -1rem;

        .accordion-headline {
            font-family: var(--font-family-heading);
            font-weight: var(--font-weight-medium);

            line-height: initial;

            &:hover {
                font-weight: var(--font-weight-bold);
            }
        }

        .panel p {
            font-family: var(--font-family-body);
        }
    }
}

.block.accordion-block.wp-block-planet4-blocks-accordion.is-style-dark {
    .accordion-headline {
        background: var(--accordion-block-dark-style--background);
        font-family: var(--font-family-heading);
        font-weight: var(--font-weight-bold);


        &:hover {
            background: var(--accordion-block-dark-style--hover--background);
        }
    }
}

.block.accordion-block.wp-block-planet4-blocks-accordion.is-style-light {
    .accordion-headline {
        background: var(--accordion-block-light-style--background);
        border-color: var(--accordion-block-light-style--border-color);
        font-family: var(--font-family-heading);
        font-weight: var(--font-weight-bold);

        &:hover {
            background: var(--accordion-block-light-style--hover--background);
        }
    }
}

//fix for the task wrap
.tasks-wrap.can-do-steps-mobile .card-accordion .card-header {
    font-family: var(--font-family-heading);
    font-weight: var(--font-weight-bold);
}