#accordeonQA {
  li,
  p,
  ul {
    font-family: sans-serif;
  }
}

#collapse1 > div > ul > li,
#collapse2 > div > ul > li,
#collapse3 > div > ul > li {
  padding-bottom: 20px;
}

#accordeonQA a.collapsed:hover {
  background: linear-gradient(45deg, rgba(234, 21, 129, 0.6), rgba(10, 23, 187, 0.6) 100%);
}

.accordion-gradient-bcg {
  /* background-image: linear-gradient(to right bottom, #deedee, #daebec, #d6e9ea, #d1e6e8, #cde4e6, #bddade, #add0d6, #9dc6ce, #7eb2bf, #5f9eb2, #3c8ba5, #007799);
   background: linear-gradient(45deg, rgba(234, 21, 129, 0.6), rgba(10, 23, 187, 0.6) 100%); */
  background-color: rgba(0, 0, 0, 0);
}

.accordion.md-accordion.accordion-1 .card,
.accordion.md-accordion.accordion-2 .card,
.accordion.md-accordion.accordion-4 .card,
.accordion.md-accordion.accordion-5 .card {
  border: 0;
  background-color: transparent;
  background-clip: border-box;
}

.accordion .md-accordion .card {
  word-wrap: break-word;
  font-weight: 400;
}

.md-accordion .card .card-header {
  padding: 1rem 1.5rem;
  background: transparent;
  border-bottom: 0;
}

.md-accordion .card .card-body {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.7;
  color: #626262;
  border: 0;
  border-radius: 3px;
  padding: 1.25rem;
  text-align: left;
  background-color: #d2d2d233;
}

.chip:active,
.z-depth-1 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#accordeonQA i::before {
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-weight: 900;
  line-height: 20px;
  overflow-wrap: break-word;
  text-align: left;
  text-rendering: auto;
  text-transform: uppercase;
}

#accordeonQA i {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  float: right;
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-weight: 900;
  line-height: 20px;
  overflow-wrap: break-word;
  text-align: left;
  text-rendering: auto;
  text-transform: uppercase;
  /* transform: matrix(-1, 0, 0, -1, 0, 0); */
}

.rotate-arrow {
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.rotate-arrow.down {
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}