@import "../base/mixins";
@import "../base/variables";
@import "../base/colors";
@import "../base/fonts";

@mixin blockquote {
    font-size: inherit;
    line-height: 1.4;
    font-style: normal;
    width: 100%;

    @include medium-and-up {
        font-size: $font-size-sm;
        padding-left: 0;
    }

    @include large-and-up {
        max-width: 80%;
    }

    @include x-large-and-up {
        font-size: $font-size-nm;
    }
}

blockquote,
blockquote>p {
    @include blockquote;
    color: $black;
    width: 90%;
    margin: 1rem 0;
    padding-bottom: inherit;

}

blockquote>h5 {
    @include blockquote;
    font-family: var(--body--font-family);
}

blockquote>cite {
    font-family: $gp-sans;
    font-size: $font-size-xxs;
    font-style: normal;

    &::before {
        content: " - ";
        /* Add the dash symbol */
        font-size: inherit;
    }

    @include medium-and-up {
        font-size: $font-size-xs;
    }

}

blockquote.wp-block-quote {
    border-left: 4px solid $gp-green-50;
    padding: .5rem;
    border-top: none;
    border-bottom: none;
    border-bottom: none;
}

blockquote.wp-block-quote,
.wp-block-quote.is-style-default {
    @include blockquote;

    overflow-wrap: break-word;
    position: relative;

    &.has-text-align-left {
        padding: .5rem 1rem;
        border-left: 4px solid $gp-green-50;
        border-top: none;
        border-bottom: none;
        border-right: none;
    }

    &.has-text-align-center {
        padding: 2rem;
        border-top: 4px solid $gp-green-50;
        border-bottom: 4px solid $gp-green-50;
        border-left: none;
        border-right: none;

        @include mobile-only {
            p {
                margin-left: 3vw
            }

            cite {
                margin-left: -9vw;
            }
        }

        @include tablet-only {
            padding-left: 8vw;
            width: 95%;

            cite {
                margin-left: -10vw;
            }
        }

        @include large-and-up {
            margin-left: 5vw;

            p {
                margin-left: 5vw;
            }

            cite {
                margin-left: 0vw;
                position: relative;
                padding: inherit;
            }
        }

    }

    &.has-text-align-right {
        padding: .5rem 1rem;
        border-right: 4px solid $gp-green-50;
        border-top: none;
        border-bottom: none;
        border-left: none;

        @include large-and-up {
            padding-right: 1vw;
        }

        @include xx-large-and-up {
            padding-right: 2vw;
        }


        p {
            @include mobile-only {
                margin-left: 2rem;
            }

            @include tablet-only {
                margin-left: 2.8rem;
            }

            @include large-and-up {
                margin-left: 11vw;
            }

            @include xx-large-and-up {
                margin-right: 0;
                padding-right: inherit;
                position: inherit;
            }

            @media screen and (min-width: 2560px) {
                margin-right: 0;
                padding-right: 5vw;
                position: inherit;
            }

        }

        cite {
            color: var(--link--color);

            @include mobile-only {
                margin-right: inherit;
            }

            @include tablet-only {
                padding: inherit;
                margin-right: .5rem;
            }

            @include large-and-up {
                margin-right: 3vw;
            }

            @include xx-large-and-up {
                margin-right: 1vw;
                padding: inherit;
            }

        }

    }

    cite {
        color: var(--link--color);
    }
}

.wp-block-quote.is-style-plain {
    padding: .5rem .5rem .5rem 2.3rem;
    border: none;

    p::before {
        content: "“";
        font-size: 8rem;
        margin: -3rem 0 0 -3.3rem;
        position: absolute;
        opacity: 0.5;
        color: $gp-green-50;

        @include mobile-only {
            margin: -3rem 0 0 -3.1rem;
        }

    }

    cite::after {
        content: "”";
        margin: -2.3rem 0rem 0 0;
        font-size: 8rem;
        position: absolute;
        opacity: 0.5;
        color: $gp-green-50;
        font-family: $roboto;
        padding-left: .5rem;

        @include mobile-only {
            padding-left: .5rem;
        }

        @include x-large-and-up {
            margin: -2rem 0rem 0 0;
        }
    }

    &.has-text-align-left {
        padding: .5rem .5rem .5rem 2.3rem;
        border: none;

        p::before {
            content: "“";
            font-size: 8rem;
            margin: -3rem 0 0 -3.3rem;
            position: absolute;
            opacity: 0.5;
            color: $gp-green-50;

            @include mobile-only {
                margin: -3rem 0 0 -3.1rem;
            }

        }

        cite::after {
            content: "”";
            margin: -2.3rem 0rem 0 0;
            font-size: 8rem;
            position: absolute;
            opacity: 0.5;
            color: $gp-green-50;
            font-family: $roboto;
            padding-left: .5rem;

            @include mobile-only {
                padding-left: .5rem;
            }

            @include x-large-and-up {
                margin: -2rem 0rem 0 0;
            }
        }
    }

    &.has-text-align-center {
        padding: .5rem 1.5rem .5rem 4.5rem;
        border: none;

        cite {
            margin-left: -2rem;
        }

        @include mobile-only {
            padding: 0 1.5rem 0 0;
            margin-left: 2rem;

            cite {
                margin-left: -14vw;
            }
        }

        @include tablet-only {
            padding-left: 10vw;

            cite {
                margin-left: -14vw;
            }
        }

        @include large-and-up {
            margin-left: 3vw;
        }

        p::before,
        cite::after {
            font-size: 7rem;
            position: absolute;
            opacity: 0.5;
            color: $gp-green-50;
        }

        p::before {
            content: "“";
            margin: -3rem 0 0 -3.3rem;

            @include mobile-only {
                margin: -3rem 0 0 -2.5rem;
            }
        }

        cite::after {
            content: "”";
            margin: -1.3rem 0rem 0 0;
            font-family: $roboto;
            padding-left: .5rem;

            @include mobile-only {
                padding-left: .5rem;
            }

            @include x-large-and-up {
                margin: -1rem 0rem 0 0;
            }
        }
    }

    &.has-text-align-right {
        padding: .5rem .5rem .5rem 2.3rem;
        border: none;

        @include mobile-only {
            padding-left: .7rem;

            cite {
                margin-right: 3rem;
            }

        }

        cite {
            @include medium-and-up {
                margin-right: 4.5rem;
            }

            @include tablet-only {
                margin-right: 5vw;
                position: relative;
            }

            @include x-large-and-up {
                margin-right: 3vw;
            }

            @include xx-large-and-up {
                margin-right: 2vw;
            }


        }

        p::before,
        cite::after {
            font-size: 7rem;
            position: absolute;
            opacity: 0.5;
            color: $gp-green-50;
        }

        p::before {
            content: "“";
            margin: -3rem 0 0 -3.3rem;

            @include mobile-only {
                margin: -3rem 0 0 -2.5rem;
            }
        }

        cite::after {
            content: "”";
            margin: -1.3rem 0rem 0 0;
            font-family: $roboto;
            padding-left: .5rem;

            @include mobile-only {
                padding-left: .5rem;
            }

            @include x-large-and-up {
                margin: -1rem 0rem 0 0;
            }
        }
    }
}

.wp-block-quote.is-style-custom {
    @include blockquote;
    border-left: 4px solid var(--blockquote-border-color);
    color: inherit;
    border-right: none;
    border-top: none;
    border-bottom: none;

    &.has-text-align-left {
        padding: .5rem .5rem .5rem 1rem;
        border-left: 4px solid var(--blockquote-border-color);
        border-top: none;
        border-bottom: none;
        border-right: none;
    }

    &.has-text-align-center {
        padding: 2rem;
        border-top: 4px solid var(--blockquote-border-color);
        border-bottom: 4px solid var(--blockquote-border-color);
        border-right: none;
        border-left: none;

        @include tablet-only {
            padding-left: 8vw;

            cite {
                margin-left: -10vw;
            }
        }

    }

    &.has-text-align-right {
        padding: .5rem 1rem;
        border-right: 4px solid var(--blockquote-border-color);
        border-top: none;
        border-bottom: none;
        border-left: none;
    }

    cite {
        color: inherit;
    }

}

.post-content article blockquote.wp-block-quote {
    max-width: 100%;
    width: 100%;

    p,
    cite {
        max-width: 100%;
        width: 100%;
    }

    &.has-text-align-center.is-style-plain {
        @include large-and-up {
            padding-left: 1rem;

            cite {
                margin-left: 0;
            }
        }
    }
}