html {
  scroll-behavior: smooth;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

a {
  cursor: pointer;
}

a.external-link:after {
  display: none;
}

.top-page-tags .tag-item {
  color: $dark-green !important;
}
