html {
  scroll-behavior: smooth;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

body {
  color: $grey-70;
  font-family: $roboto;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:where(:not(.wp-element-button)) {
  text-decoration: underline;
}

a.external-link:after {
  display: none;
}

.top-page-tags .tag-item, .tag-wrap-bullet {
  color: $dark-green !important;
  margin-right: 0.3rem;
}

.error404 .speech-bubble {
  padding-left: 0;
}
