@import "../base/mixins";
@import "../base/variables";
@import "../base/colors";
@import "../base/fonts";

html {
  scroll-behavior: smooth;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

body:not(.wp-block-button, a.wp-block-button__link) {
  color: $grey-70;
  font-family: $roboto;
}

.error404 .speech-bubble {
  padding-left: 0;
}

@include medium-and-up {
  div.wp-block-media-text.has-media-on-the-right div.wp-block-media-text__content {
    padding-inline-start: 0;
  }
}

//Search page results
li.search-result-list-item:hover {
  a.search-result-item-headline {
    text-decoration-color: $gp-green-50;
  }
}

//single post 
.single-post-author {
  font-family: $gp-sans;
  font-weight: var(--font-weight-regular);

  a:hover {
    text-decoration-color: $gp-green-50!important;
  }
}

.single-post-time:hover {
  text-decoration: none;
}