html {
  scroll-behavior: smooth;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
}

a {
  cursor: pointer;
}