@media screen and (max-width: 991px) {
  .btn-navbar-toggle {
    cursor: pointer;
    color: $gp-green;
    background-color: transparent;
    transition: background-color color font-weight 100ms;
    display: inline-block;

    &:active,
    &:focus,
    &:hover {
      color: $dark-green;
      box-shadow: none;
      background-color: #00000080;
      border: 1px solid transparent;
    }
    @include small-and-up {
      background-color: $dark-white;
      border-radius: 0;
      border: 1px solid transparent;
      box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    }
  }
}

a.pdf-link:hover::before {
  background-color: $dark-white;
}

a.wp-block-file__button:hover {
  background: $dark-green!important;
}

@include mobile-only {
  .wp-block-file__button {
    margin-top: 1rem;
  }
}

@include small-and-up {
  .wp-block-file__button {
    margin-bottom: -.9rem;
    font-size: .8rem;
  }
}

.btn-secondary:not(#hidecookie),
.wp-block-button.is-style-secondary a, .wp-block-file__button.pdf-link {
  border-color: $dark-green;
  color: $dark-green;
  box-shadow: none;

  &:visited {
    color: $dark-green;
  }

  &:hover,
  &:focus {
    background: $dark-green;
    border-color: $dark-green;
    color: $white;
  }

  &:active {
    background: $gp-nor-green;
    border-color: $gp-nor-green;
  }

  &:disabled,
  &.disabled,
  &[disabled] {
    background: $white;
    color: $dark-green;
  }

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// // The new core buttons block wrap in "wp-block-buttons" class which apply
// // extra css properties which break old button block UI.
// .wp-block-buttons .wp-block-button {
//   display: block !important;
//   margin-left: unset;
//   margin-right: unset;
// }

// .btn-navbar-toggle {
//   cursor: pointer;
//   color: $gp-green;
//   background-color: transparent;
//   transition: background-color color font-weight 100ms;
//   display: inline-block;

//   &:hover,
//   &:focus,
//   &:active {
//     color: $white;
//     box-shadow: none;
//     background-color: $x-dark-blue;
//     border: 1px solid transparent;
//   }

//   @include small-and-up {
//     background-color: $dark-green;
//     border-radius: 0;
//     border: 1px solid transparent;
//     box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
//   }
// }

// .btn-filter-item {
//   background-color: transparent;
//   border-color: $dark-green;
//   color: $dark-green;
//   padding: 0 $n50 0 $n30;
//   position: relative;
//   font-weight: 400;

//   &:hover,
//   &:focus {
//     background-color: $dark-green;
//     border-color: $dark-green;
//   }

//   &:active {
//     background-color: $grey-80;
//     border-color: $grey-80;
//   }

// }
