@import "../base/mixins";
@import "../base/variables";
@import "../base/colors";
@import "../base/fonts";

.btn {
  border-radius: 4px;
}

button,
button[type="submit"],
.btn,
.btn-primary[data-ga-action="Call to Action"],
.btn-secondary,
.wp-block-button__link,
a[data-ga-action="Donate"],
.post-content .more-link, .post-content .page-links a,
.wp-block-button a.wp-block-button__link, .wp-block-file .wp-block-file__button{
  cursor: pointer;
  font-family: $helvetica-bold;
}

//Donate btn
// nav#header.top-navigation.navbar ul.navbar-dropdown li.donate-nav-item a.btn-donate,
// .wp-block-button.is-style-donate a.wp-block-button__link,
// .wp-block-button.is-style-donate .wp-block-button__link[role="textbox"] {
//   background: $gp-green;
//   color: #fff;
//   text-transform: uppercase;
//   font-weight: bold;

//   @include mobile-and-tablet-only {
//     // ripple effect for touch screens
//     background-position: center;
//     transition: background 0.5s;

//     &:hover {
//       color: #fff;
//       background: $gp-primary radial-gradient(circle, transparent 1%, $gp-primary 1%) center/15000%;
//     }

//     &:active {
//       color: #fff;
//       background-color: $gp-green;
//       background-size: 100%;
//       transition: background 0s;
//     }
//   }

  // @include large-and-up {
  //   font-weight: bold;
  //   background-image: -webkit-linear-gradient(30deg, $gp-primary 50%, transparent 50%);
  //   background-image: linear-gradient(30deg, $gp-primary 50%, transparent 50%);
  //   background-size: 500px;
  //   background-repeat: no-repeat;
  //   background-position: 0%;
  //   -webkit-transition: background 300ms ease-in-out;
  //   transition: background 300ms ease-in-out;

  //   &:hover {
  //     background-position: 100%;
  //     color: #fff;
  //   }
  // }
// }

//CTA color buttons
button[type="submit"]:not(.nav-search-btn, .search-form-btn),
.btn.btn-primary[data-ga-action="Call to Action"],
.btn.btn-donate[data-ga-action="Donate"],
.btn.btn-primary#hidecookie {
  font-weight: bold;
  border: none;

  @include mobile-and-tablet-only {
    // ripple effect for touch screens
    background-position: center;
    transition: background 0.8s;

    &:hover {
      background: $orange radial-gradient(circle, transparent 1%, $orange 1%) center/15000%;
      border-color: $orange;
    }

    &:active {
      background-color: $orange-active;
      background-size: 100%;
      transition: background 0s;
    }
  }

  @include large-and-up {
    background-image: -webkit-linear-gradient(30deg, $orange 50%, transparent 50%)!important;
    background-image: linear-gradient(30deg, $orange 50%, transparent 50%)!important;
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;

    &:hover {
      background-position: 100%!important;
    }
  }
}

a.pdf-link:hover::before {
  background-color: $dark-white;
}

a.pdf-link:hover:not(.wp-block-file__button.pdf-link::after) {
  color:$dark-green;
  -webkit-text-decoration-color: $dark-green;
  -moz-text-decoration-color: $dark-green;
  text-decoration-color: $dark-green;

}

@include mobile-only {
  .wp-block-file__button {
    margin-top: 1rem;
  }
}

@include small-and-up {
  .wp-block-file__button {
    margin-bottom: -.9rem;
    font-size: .8rem;
  }
}

//Secondary btns
.btn-secondary:not(#hidecookie),
.btn-secondary:not(#commentform),
.btn-secondary, .wp-block-button.is-style-secondary a, a.wp-block-button__link {
  border-color: $dark-green;
  color: $dark-green;
  box-shadow: none;
  background: $white;
  border-radius: 4px;

  @include mobile-and-tablet-only {
    // ripple effect for touch screens
    background-position: center;
    transition: background 0.8s;

    &:hover {
      background: $dark-green radial-gradient(circle, transparent 1%, $dark-green 1%) center/15000%;
      border-color: $dark-green;
    }

    &:active {
      background-color: $gp-nor-green;
      background-size: 100%;
      transition: background 0s;
    }

  }

  // Disabled for now bc of a dark blue variable from the master theme that I can't fully override (for now)
  @include large-and-up {
    // background-image: -webkit-linear-gradient(30deg, $white 50%, transparent 50%)!important;
    // background-image: linear-gradient(30deg, $white 50%, transparent 50%)!important;
    // background-size: 700px;
    // background-repeat: no-repeat;
    // background-position: 0%;
    // -webkit-transition: background 500ms ease-in-out;
    // transition: background 500ms ease-in-out;

    &:hover {
      background: $dark-green;
      // background-position: 100%!important;
      border-color: $dark-green;
      color: $white;
    }
  }

  // &:hover,
  // &:active {
  //   border-color: $dark-green;
  //   background: $dark-green;
  //   color: $white;
  // }

  &:disabled,
  &.disabled,
  &[disabled] {
    background: $white;
    color: $gp-nor-green;
  }

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


a.wp-block-file__button.pdf-link {
  color: $dark-green!important;
  -webkit-text-decoration-color: $dark-green;
  -moz-text-decoration-color: $dark-green;
  text-decoration-color: $dark-green;
  border-color: $dark-green;
  box-shadow: none;
  background: $white;
  border-radius: 4px;

  &:hover,
  &:active {
    background: $dark-green;
    border-color: $dark-green;
    color: $white!important;
  }
}

.wp-block-file__button.pdf-link::after {
  display: none;
}
