@import "../base/mixins";
@import "../base/variables";
@import "../base/colors";
@import "../base/fonts";

.columns-block {
    &.block-style-tasks .can-do-steps-mobile .card .card-header {
        background: var(--accordion-block-dark-style--background);
        &.hover {
            background: var(--accordion-block-dark-style--hover--background);
        }
    }

    h3 {
        font-weight: 700;

        a[data-ga-action="Title"] {
            color: $black;
            font-weight: var(--heading--font-weight);
            &:hover {
                color: $black;
                text-decoration: underline;
                text-decoration-color: $gp-green-50;    
            }
        }
    }

    .column-wrap a:not(h3>a) {
        font-weight: 500;
        color: $gp-green-80;

        &:hover:not(a.btn.btn-secondary) {
            color: $black;
            text-decoration: underline;
            text-decoration-color: $gp-green-50;
        }
    }
}