@import "../base/mixins";
@import "../base/variables";
@import "../base/colors";
@import "../base/fonts";

.columns-block {

    @include mobile-and-tablet-only {

        &.block-style-image,
        &.block-style-tasks,
        &.block-style-icons {
            .column-wrap h3 {
                text-align: left;
            }
        }
    }

    //columns links 
    &.block-style-icons,
    &.block-style-image {
        .column-wrap a {
            border-bottom: none;
            text-decoration: none;
        }
    }

    &.block-style-tasks {
        .can-do-steps-mobile .card .card-header {
            background: var(--accordion-block-dark-style--background);

            &.hover {
                background: var(--accordion-block-dark-style--hover--background);
            }
        }
    }


    h2,
    h3,
    h5 {
        font-weight: var(--headings-font-weight);

        a[data-ga-action="Title"] {
            color: $black;
            font-weight: var(--headings-font-weight);

            &:hover {
                color: $gp-green-80;
                text-decoration: none;
            }
        }
    }

    .column-wrap a[data-ga-action="Call to Action"]:not(a[data-ga-action="Title"]) {
        color: $gp-green-80;

        &:hover:not(a.btn.btn-secondary) {
            color: $black;
        }
    }
}