//ECI widget style
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-moz-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.eci-form-wrapper .proca-widget {
  div, p, span, a, legend {
    font-family: $lora;
    font-size: .9rem;
  }

  label.proca-MuiFormLabel-root.proca-Proca8 span:nth-child(2),
  label.proca-MuiFormLabel-root.proca-Proca8 span:nth-child(2) a,
  #proca_captcha-helper-text {
    font-size: .9rem;
    width: 100%;
  }

  #proca_captcha-helper-text {
    margin-left: 0;
  }

  div.proca-MuiBox-root.proca-Proca21.proca-Proca2 div:nth-child(1) {
    padding-bottom: 15px;
  }
}

h2.eci-title {
  font-size: 2.5rem !important;
}

div.eci-more button {
  font-weight: bold;
  border: #fff 2px solid;
  padding: .2rem .5rem;
  margin-left: 0;

  span.proca-MuiButton-label {
    color: white;
    font-weight: 500;
    font-family: $lora;
    text-transform: initial;
  }
}
// @include mobile-and-tablet-only {
//   div.leads-form__grid {
//     display: flex;
//     flex-flow: column;
//   }
// }
