//ECI widget style
.eci-form-wrapper .proca-widget {
  form#proca-register :nth-child(4),
  form#proca-register :nth-child(5),
  form#proca-register :nth-child(6) {
    display: none;
  }

  div, p, span, a, legend {
    font-family: $lora-child-theme!important;
    font-size: .9rem;
  }

  label.proca-MuiFormLabel-root.proca-Proca8 span:nth-child(2),
  label.proca-MuiFormLabel-root.proca-Proca8 span:nth-child(2) a,
  #proca_captcha-helper-text {
    font-size: .9rem;
    width: 100%;
  }

  #proca_captcha-helper-text {
    margin-left: 0;
  }

  div.proca-MuiBox-root.proca-Proca21.proca-Proca2 div:nth-child(1) {
    padding-bottom: 15px;
  }
}

h2.eci-title {
  font-size: 2.5rem !important;
}

div.eci-more button {
  font-weight: bold;
  border: #fff 2px solid;
  padding: .2rem .5rem;
  margin-left: 0;

  span.proca-MuiButton-label {
    color: white;
    font-weight: 500;
    font-family: $lora-child-theme;
    text-transform: initial;
  }
}
// @include mobile-and-tablet-only {
//   div.leads-form__grid {
//     display: flex;
//     flex-flow: column;
//   }
// }

/* Animation */
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-duration: 1s;
  -moz-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
}

.a-delay {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
