.site-footer {
  background: $gp-nor-green;
  font-family: $roboto;

  a:hover {
    color: $banner-yellow;
    text-decoration: none;
  }

  .footer-social-media {
    color: $banner-yellow;

    a:hover {
      color: $dark-white;
    }
  }

  .footer-links ul li {
    font-weight: bold;
  }

  .copyright-text {
    font-size: smaller;
  }
}
