@import "../base/mixins";
@import "../base/variables";
@import "../base/colors";
@import "../base/fonts";

.is-layout-flow.is-pattern-p4-campaign-pattern-layout .is-pattern-p4-page-header h1,
.is-layout-flow.is-pattern-p4-take-action-pattern-layout .is-pattern-p4-page-header h1,
.is-layout-flow.is-pattern-p4-high-level-topic-pattern-layout .is-pattern-p4-page-header h1,
.is-layout-flow.is-pattern-p4-deep-dive-topic-pattern-layout .is-pattern-p4-page-header h1,
.is-layout-flow .is-pattern-p4-page-header h1 {
  -webkit-box-shadow: 2px 4px 0px 4px rgba(245, 247, 248, 1);
  -moz-box-shadow: 2px 4px 0px 4px rgba(245, 247, 248, 1);
  box-shadow: 2px 4px 0px 4px rgba(245, 247, 248, 1);
  border: 3px solid #f5f7f8;
}

@include small-mobile-only {
  .is-pattern-p4-page-header .wp-block-media-text__content, .is-pattern-p4-page-header .wp-block-group:first-child {
    margin: -1rem 2.3rem 0 .5rem!important;
  }
}

@include mobile-only {
	.page-header-title {
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
	}

  .is-pattern-p4-page-header .wp-block-media-text__content, .is-pattern-p4-page-header .wp-block-group:first-child {
    font-size: 2.2rem !important;
    margin: 0 1.2rem 0 .5rem;
  }
}

@media screen and (max-width:767px) {
  .page-header-content {
    display: block!important;
    margin-top: 0;
    max-width: 97%;
  }
}

@include mobile-and-tablet-only {
  h2.page-section-header {
    font-size:calc(1.35rem + .9vw)!important;
  }

}

@include large-and-up {
  h2.page-section-header {
    font-size:calc(1.35rem + 1vw)!important;
  }

}
