@import "../base/mixins";
@import "../base/variables";
@import "../base/colors";
@import "../base/fonts";

.leads-form__form__container {
  & .acf-label {
    font-family: $roboto;
    margin-bottom: 0.75rem;

    a,
    small>p>a {
      border-bottom: none !important;
      font-weight: bold;
    }
  }

  & ul li {
    font-size: inherit;
  }

  & span.checkbox-label p {
    line-height: 1.3;
    font-weight: 300;
    font-family: $roboto;
    font-size: 0.75rem !important;
    padding-bottom: 0.2rem;

    a {
      font-weight: 500 !important;
      font-size: 0.75rem !important;
      border-bottom: none!important;
    }
  }

  & small p a {
    font-weight: 500 !important;
    font-size: 0.75rem !important;
    border-bottom: none;
  }
}

a.consent.external-link {
  border-bottom: none!important;
}

// .leads-form #donate-button {
//   font-size: 1.5rem;
// }