@import "../base/mixins";
@import "../base/variables";
@import "../base/colors";
@import "../base/fonts";

// Styleguide Layout.navbar
// $menu-height-small: 3.375rem;
// $menu-height-large: 3.75rem;
// $min-height: 40px;
// $navbar-default-height: 60px;

a.nav-link {
  font-family: $helvetica;
  font-weight: 600;

  @include mobile-only {
    font-size: 3.5vw;
  }

  @include tablet-only {
    font-size: 2vw;
  }

}

.nav-submenu {
  width: 300px;

  .nav-item {
    a.nav-link {
      font-weight: 500;

      &:hover {
        background: $gp-green-5;
        color: $gp-green-80;
        font-weight: bolder;
      }
    }
  }
}

.nav-subitems .nav-item.active a.nav-link {
  color: $gp-green-80 !important;
}

.top-navigation .btn-donate {

  @include mobile-only {
    height: 8vw;
    line-height: 7vw;
    font-size: 3.5vw;
  }

  @include tablet-only {
    height: 4vw;
    line-height: 3.5vw;
    font-size: 2vw;
  }
}

.secondary-menu {
  margin: 0;

  p.nav-link a,
  p.nav-link a strong {
    font-weight: 700 !important;
  }

  p>a:hover {
    color: $gp-green-80;
    border-bottom: 2px solid $gp-green-50;
    background-image: none!important;
  }
}

.brdr-bottom {
  border-bottom: #dddada 1px solid;
  padding-bottom: 0.5rem;
}

@include large-and-up {
  .nav-submenu {
    width: 260px;
  }
}

//secondary nav reusable block HL& DD topics
@media screen and (min-width: 740px) and (max-width: 781px) {
  .secondary-menu {
    margin-top: -2.5rem;
  }
}

@media screen and (max-width: 600px) {
  .secondary-menu {
    margin-top: -2rem;
    white-space: nowrap;
    margin-bottom: 0;
  }

  .secondary-menu .wp-container-4 {
    line-height: 25px;
  }

  .secondary-menu p {
    display: inline-block;
  }

  .secondary-menu p:last-child {
    padding-bottom: .7rem;
  }
}

@include large-and-up {
  .hide-item {
    display: none;
  }
}