@import "../base/colors";
@import "../base/variables";
@import "../base/fonts";

//TA cover card
.actions-list {

  li.wp-block-post.p4_action {
    border-radius: 1rem !important;
  }

  .wp-block-post-featured-image {
    position: relative;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    a {
      overflow: hidden;
      width: 220px;
      height: 220px;
      display: contents;
    }

    // Smooth transition for the image when not hovered
    a img {
      max-width: 100%;
      max-height: 220px;
      display: block; // Make the image a block-level element to fill its container
      position: relative; // Reset the positioning to allow smooth scaling
      transform: scale(1);
      transform-origin: center;
      transition: 0.5s all ease-in-out;
    }

  }

  .actions-list-links:hover {

    .wp-block-post-featured-image a img {
      max-width: 100%;
      max-height: 220px;
      display: block; // Make the image a block-level element to fill its container
      position: relative; // Reset the positioning to allow smooth scaling
      transform: scale(1.1);
      transform-origin: center;
    }
  }

  .content-covers-block .content-covers-block-wrap .content-covers-block-info>h5>a {
    color: $dark-green !important;

  }

  .wp-block-post-terms {
    padding-bottom: var(--padding-xs);

    & a {
      font-family: var(--font-family-gp-sans);
      font-weight: 500 !important;
    }
  }

  a.actions-list-links .wp-block-post-title a {
    text-decoration: none !important;
    font-weight: var(--cover-card-heading--font-weight);

    // &:hover {
    //   text-decoration: underline;
    //   -webkit-text-decoration-color: $gp-green-50;
    //   /* Safari */
    //   -moz-text-decoration-color: $gp-green-50;
    //   text-decoration-color: $gp-green-50;
    // }
  }

  .wp-block-post-excerpt p {
    font-family: var(--font-family-roboto);
    font-weight: 400 !important;
    color: $black !important;
  }

  .wp-block-post:hover .btn-primary {
    background: $gp-green-40;
    color: $black;
  }

  // a.btn-primary {
  //   background: $gp-green-40;
  //   z-index: 101;
  //   line-height: 1;
  //   font-size: var(--cover-card-btn--font-size);

  //   &:hover {
  //     background-image: linear-gradient(30deg, $gp-green-50 50%, transparent 50%);
  //     background-size: 1000px;
  //   }
  // }
}

.content-covers-block .content-covers-block-wrap .content-covers-block-info>h5>a {
  font-family: $roboto;
  font-size: larger;

  &:hover {
    -webkit-text-decoration-color: $gp-green-50;
    -moz-text-decoration-color: $gp-green-50;
    text-decoration-color: $gp-green-50;
  }
}

//TA Boxout
.boxout {
  border-radius: 1rem;

  a.boxout-heading[data-ga-category="Take Action Boxout"] {
    font-weight: var(--cover-card-heading--font-weight);

    &:hover {
      text-decoration: none !important;
    }
  }

  a.btn-action.cover-card-btn[data-ga-category="Take Action Boxout"] {
    padding: 1rem;
  }

  @include large-and-up {
    height: 15rem;

    img {
      border-bottom-left-radius: 1rem;
      border-top-left-radius: 1rem;
    }
  }
}